.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.descr {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: center;

  /* Grey/Extra Bold */

  color: #2e2e2e;
  margin-top: 20px;
}

.col1 {
  text-align: center;
  margin-top: 40px;
}
.col2 {
  text-align: center;
  margin-top: 30px;
}

.graphs {
  display: flex;
}

.wor1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* Grey/Extra Bold */

  color: #2e2e2e;
  background-color: #efefef;
  padding: 16px 71px 8px 13px;
  margin-right: 13px;
  margin-top: 160px;
}
.wor2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* Grey/Extra Bold */

  color: #2e2e2e;
  background: #efefef;
  padding: 56px 66px 8px 13px;
  margin-top: 120px;
  margin-right: 13px;
}
.wor3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* Grey/Extra Bold */

  color: #2e2e2e;
  background: #efefef;
  padding: 97px 51px 8px 13px;
  margin-top: 79px;
  margin-right: 12px;
}
.wor4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* Grey/Extra Bold */

  color: #ffffff;
  background: #93051a;
  padding: 138px 62px 8px 13px;
  margin-top: 40px;
}
