.navbar {
  height: 45px;
  margin-top: 60px;
  background-color: #be0f34;
  display: flex;
  justify-content: center;
}

.logo {
  background-color: #e5e5e5;
  width: 63.33px;
  height: 63.37px;
  margin-top: 13.42px;
  border-radius: 50%;
}

.circle {
  background-color: #be0f34;
  border-radius: 50%;
  width: 51.58px;
  height: 51.58px;
  margin: 5.89px 5.85px 5.89px 5.89px;
}

.u {
  width: 15.71px;
  height: 25.56px;
  margin-top: 8.8px;
  margin-left: 10.32px;
}

.l {
  width: 13.01px;
  height: 24.97px;
  margin-right: 10.23px;
  margin-top: 17.81px;
  margin-left: 2.32px;
}

.container {
  display: flex;
  justify-content: center;
}
.par {
  text-align: center;
  margin-top: 92px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #2e2e2e;
}

.descr {
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2e2e2e;
  padding: 0;
}
