body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary {
  background-color: #e5e5e5;
  color: black;
  border-bottom: black solid 2px !important;
  border: none;
}

.btn-primary:hover {
  background-color: #e5e5e5;
  color: black;
  border-bottom: black;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary.dropdown-toggle {
  background-color: #e5e5e5 !important   ;
  color: black !important;
  border-bottom: black solid 1px !important ;
}

.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

@media screen and (max-width: 1220px) {
  img {
    width: 126px;
    height: 128px;
  }
}
